apiVersion: v1
kind: ServiceAccount
metadata:
  name: slurm-exporter
  namespace: slurm-monitoring
  labels:
    app.kubernetes.io/name: slurm-exporter
    app.kubernetes.io/part-of: slurm-monitoring
automountServiceAccountToken: false